---
import { Image } from 'astro:assets';
import StoryStep from '../StoryStep.astro';
import Canvas from '../Canvas.astro';
import Item from '../Item.astro';
import muskogeeLeader1 from '../../assets/before-the-city/muskogee-leader-1.png';
import cherokeePeople from '../../assets/before-the-city/cherokee-people.png';
import muskogeeLeader2 from '../../assets/before-the-city/muskogee-leader-2.png';
---

<StoryStep title="Before the City">
	<!-- Free-flow pocket: drag/resize/rotate these with ?edit. -->
	<Canvas slot="media" fill fitScale class="cluster">
		<Item
			left="-3.3%"
			top="-7.7%"
			width="52.1%"
			phone={{ left: '-15.5%', top: '-1.7%', width: '76.3%' }}
		>
			<Image src={muskogeeLeader1} alt="Muscogee (Creek) leader" />
		</Item>
		<Item
			left="55.9%"
			top="-8.6%"
			width="43.2%"
			phone={{ left: '46%', top: '-0.6%', width: '54.6%' }}
		>
			<Image src={cherokeePeople} alt="Cherokee people" />
		</Item>
		<Item
			left="32.3%"
			top="9.4%"
			width="52.7%"
			phone={{ left: '36.2%', top: '29.1%', width: '65.5%' }}
		>
			<Image src={muskogeeLeader2} alt="Muscogee (Creek) leader" />
		</Item>
	</Canvas>

	<p>
		Atlanta is not 190 years old. People lived on this land for thousands of
		years, most recently the mound builders of the Mississippian world, whose
		earthworks the city later destroyed.
	</p>
	<p>
		Two peoples held this country: the Muscogee (Creek) to the south, and the
		Cherokee to the north.
	</p>
</StoryStep>
