---
import { Image } from 'astro:assets';
import StoryStep from '../StoryStep.astro';
import Canvas from '../Canvas.astro';
import Item from '../Item.astro';
import treaty from '../../assets/settlement/treaty.png';
import trailOfTears from '../../assets/settlement/trailoftears.png';
---

<StoryStep title="White Settlement">
	<!-- Free-flow pocket: drag/resize/rotate these with ?edit. -->
	<Canvas slot="media" fill fitScale fitScalePhone="off" class="cluster">
		<Item
			left="0.2%"
			top="0.7%"
			width="63.6%"
			rotate={2.6}
			phone={{ left: '-0.1%', top: '3%', width: '92.4%', rotate: 2.6 }}
		>
			<Image src={treaty} alt="The 1821 treaty" />
		</Item>
		<Item
			left="19.3%"
			top="32.8%"
			width="80.5%"
			phone={{ left: '5.9%', top: '42.5%', width: '94.2%' }}
		>
			<Image src={trailOfTears} alt="The Trail of Tears" />
		</Item>
	</Canvas>

	<div class="copy">
		<p>
			A treaty took the land from the Muscogee in 1821, and a lottery handed it to white settlers.
		</p>
		<p>
			The Cherokee were forced out next, marched west on the Trail of Tears in
			1838, a year after Atlanta was founded.
		</p>
		<p>
			It would be 2023 before a Muscogee leader stood on this ground again.
		</p>
	</div>
</StoryStep>
